.Rproj.user
.Rhistory
.RData
.Ruserdata

# Sweave related files
*.aux
*.bbl
*.blg
*.gz
*.log
*.sty
*.tex

# Sweave cache related files
__globals
__objects
__packages
*.rdb
*.rdx

# Other files
*.csv
*.doc
*.docx
*.html.nb
*.lnk
*.pptx
*.ppt
*.pdf
*.png
*.jpg
*.svg
*.txt
*.xls
*.ini
!reference_report.docx

